@model IEnumerable<Ecommerce01.Models.Customer>

@{
    ViewBag.Title = "Clienti";
}

@{ var  femmina = "Femmina"; }
@{ var maschio = "Maschio"; }
@{ var privato = "Privato"; }

<h2>Clienti</h2>

<p>
    @*@Html.ActionLink("Crea Nuovo", "Create", new { }, new { @class = "btn btn-info" })*@
    <a href="@Url.Action(
            "Create",
            "Customers",
            new { })" class="btn btn-default btn-xs">
        <i aria-hidden="true" class="btn btn-default btn-xs far fa-plus-square fa-3x text-success" title="Crea Nuovo"></i>
        Crea Nuovo
        <span class="sr-only">Crea Nuovo</span>
    </a>
</p>
<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DateBirth)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departament.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td align="center">
                @if (item.Gender == "F")
                {@femmina}
                else if(item.Gender == "M")
                {@maschio}
                else
                {@privato}

                @*//@Html.DisplayFor(modelItem => item.Gender)*@
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DateBirth)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departament.Name)
            </td>
           
        </tr>
        <tr>
            <td colspan="8">
                @* @Html.ActionLink("Modifica", "Edit", new { id = item.SupplierId }, new { @class = "btn btn-info" }) |*@
                @*  <a href="@Url.Action("Edit", "Suppliers", new { id = item.SupplierId })" class="btn btn-default"> *@
                <a href="@Url.Action("Edit", "Customers", new { id = item.CustomerId })" class="btn btn-default btn-sm">
                    <i aria-hidden="true" class="far fa-edit fa-2x text-info" title="Modifica"></i>
                    <span class="sr-only">Modifica</span>
                </a>
                <a href="@Url.Action("Details", "Customers", new { id = item.CustomerId })" class="btn btn-default btn-sm">
                    <i aria-hidden="true" class="far fa-list-alt fa-2x text-warning" title="Dettagli"></i>
                    <span class="sr-only">Dettagli</span>
                </a>
                <a href="@Url.Action("Delete", "Customers", new { id = item.CustomerId })" class="btn btn-default btn-sm">
                    <i aria-hidden="true" class="far fa-trash-alt fa-2x text-danger" title="Elimina"></i>
                    <span class="sr-only">Elimina</span>
                </a>
            </td>
        </tr>
    
}

</table>
