@model IEnumerable<Ecommerce01.Models.SupplierClasse>

@{
    ViewBag.Title = "Tipologie Fornitori";
}

<h2>Tipologie Fornitori</h2>

<p>
    @*@Html.ActionLink("Crea Nuova", "Create", new { }, new { @class = "btn btn-info" })*@
    <a href="@Url.Action(
            "Create",
            "SupplierClasses",
            new { })" class="btn btn-default btn-xs">
        <i aria-hidden="true" class="btn btn-default btn-xs far fa-plus-square fa-3x text-success" title="Crea Nuovo"></i>
        Crea Nuova
        <span class="sr-only">Crea Nuova</span>
    </a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @*    @Html.ActionLink("Modifica", "Edit", new { id = item.StateId }, new { @class = "btn btn-info" }) |*@
                    @*  <a href="@Url.Action("Edit", "States", new { id = item.XXXId })" class="btn btn-default"> *@
                    <a href="@Url.Action("Edit", "SupplierClasses", new { id = item.SupplierClasseId })" class="btn btn-default btn-sm">
                        <i aria-hidden="true" class="far fa-edit fa-2x text-info" title="Modifica"></i>
                        <span class="sr-only">Modifica</span>
                    </a>
                    <a href="@Url.Action("Details", "SupplierClasses", new { id = item.SupplierClasseId })" class="btn btn-default btn-sm">
                        <i aria-hidden="true" class="far fa-list-alt fa-2x text-warning" style="color:#e06b19" title="Dettagli"></i>
                        <span class="sr-only">Dettagli</span>
                    </a>
                    <a href="@Url.Action("Delete", "SupplierClasses", new { id = item.SupplierClasseId })" class="btn btn-default btn-sm">
                        <i aria-hidden="true" class="far fa-trash-alt fa-2x text-danger" title="Elimina"></i>
                        <span class="sr-only">Elimina</span>
                    </a>

                </td>
            </tr>
        }
    </table>
</div>
