@model Ecommerce01.Models.Supplier

@{
    ViewBag.Title = "Dettagli";
}

<h2>Dettagli</h2>

<div>
    <h4>Fornitore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartitaIva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartitaIva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteHttp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteHttp)
            <p><hr /></p>

        <dt>
            @Html.DisplayNameFor(model => model.IsfavoriteSupplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsfavoriteSupplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierClasses.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierClasses.Description)
            <p><hr /></p>
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneMobil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneMobil)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
            <p><hr /></p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departament.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departament.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locality)
            <p><hr /></p>
        </dd>

    </dl>
</div>
<div>
    @*@Html.ActionLink("Ritorna", "Index", new { }, new { @class = "btn-outline-primary" })*@
    <a href="@Url.Action("Index", "Suppliers", new { })" class="btn btn-default btn-sm">
        <i aria-hidden="true" class="btn btn-default btn-sm fas fa-angle-double-left fa-2x text-info" title="Ritorna"></i>
        <span class="sr-only">Ritorna</span>
    </a>
    @*@Html.ActionLink("Modifica", "Edit", new { id = Model.XXXId }, new { @class = "btn btn-info" })*@

    <a href="@Url.Action("Edit", "Customers", new {id = Model.SupplierId })" class="btn btn-default btn-sm">
        <i aria-hidden="true" class="tn btn-default btn-sm far fa-edit fa-2x text-info" title="Modifica"></i>
        Modifica
        <span class="sr-only">Modifica</span>
    </a>
</div>
