@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (Session["Logo"] != null)
            {
                <img src="@Url.Content(Session["Logo"].ToString())" alt="Image" style="width:50px;height:50px;max-width: 100%; height: auto; padding-top: 5px" />
            }
        </li>

        <li class="nav-item">
            @Html.ActionLink("Salve " + User.Identity.GetUserName() + "!   ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        </li>
        <li>-</li>
        <li  class="nav-item">           
        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Disconnetti</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Registrazione", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",  @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Accedi", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
