@model Ecommerce01.Models.Category

@{
    ViewBag.Title = "Crea";
}

<h2>Crea nuova</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Categoria Merceologica</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CompanyId)
        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               @* @Html.ActionLink("Ritorna", "Index", new { }, new { @class = "btn-outline-primary" })*@
                <a href="@Url.Action("Index", "Categories", new { })" class="btn btn-default btn-sm">
                    <i aria-hidden="true" class="btn btn-default btn-sm fas fa-angle-double-left fa-3x"></i>
                    <span class="sr-only">Ritorna</span>
                </a>
                @*<input type="submit" value="Crea" class="btn btn-info" />*@

                <button class="btn btn-link btn-xs" type="submit" name="action" value="Crea">
                    @*<i class="btn btn-default btn-xs far fa-save fa-3x"></i>*@
                    <i aria-hidden="true" class="btn btn-default btn-sm far fa-plus-square fa-3x" title="Crea"></i>
                    <span class="sr-only">Crea Nuovo</span>
                </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/script.js")
}