@model Ecommerce01.Models.Category

@{
    ViewBag.Title = "Elimina";
}

<h2>Elimina</h2>

<h3 class="text-danger">E' sicuro di volere eliminare questo registro ?</h3>
<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*@Html.ActionLink("Ritorna", "Index", new { }, new { @class = "btn-outline-primary" })*@
            @*@Html.ActionLink("Ritorna", "Index", new { }, new { @class = "btn-outline-primary" })*@
            <a href="@Url.Action("Index", "Categories", new { })" class="btn btn-default btn-sm">
                <i aria-hidden="true" class="btn btn-default btn-sm fas fa-angle-double-left fa-2x text-info" title="Ritorna"></i>
                <span class="sr-only">Ritorna</span>
            </a>
            @*<input type="submit" value="Elimina" class="btn btn-danger" />*@
            <button class="btn btn-link btn-sm" type="submit" name="action" value="Elimina">
                <i aria-hidden="true" class="far fa-trash-alt fa-2x text-danger" title="Elimina"></i>
            </button>
        </div>
    }
</div>