@model List<Employee>

<h1 class="jumbotron" style="color:cornflowerblue;text-align:center">Employees list</h1>
    <table class="table">
        <thead>
            <tr class="jumbotron">
                <td><h4 style="color:cornflowerblue">Nome</h4></td>
                <td><h4 style="color:cornflowerblue">Cognome</h4></td>
                <td><h4 style="color:cornflowerblue">Genere</h4></td>
                <td><h4 style="color:cornflowerblue">Cod.Progetto</h4></td>
                <td colspan="3"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <td>@e.Nome</td>
                    <td>@e.Cognome</td>
                    <td>@e.GetGenere(e.Genere)</td>
                    <td>@e.Progetto.Codice</td>
                    <td><b><a asp-controller="Employee" asp-action="Edit" asp-route-id="@e.Id">Edit</a></b></td>
                    <td><b><a asp-controller="Employee" asp-action="Delete" asp-route-id="@e.Id" class="text-danger">Delete</a></b></td>
                    <td colspan="1"></td>
                </tr>
            }
            <tr></tr>
            <tr class="jumbotron">
                <td><a class="btn btn-primary" asp-controller="Employee" asp-action="Edit">Add NEW Employee</a></td>
                <td colspan="6"></td>
            </tr>

        </tbody>
    </table>
