@model PagedList.IPagedList<Ecommerce01.Models.User>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Utenti";
}

<h2>Utenti</h2>

<p>
    @Html.ActionLink("Crea Nuovo", "Create", new { }, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DateBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Departament.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Province.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Photo)
        </th>
        
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.DateBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departament.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Photo))
                {
                <img src="@Url.Content(item.Photo)" alt="Image" style="width:400px;height:400px;max-width: 100%; height: auto;" />
            }
        </td>
    </tr>
        <tr>
            <td colspan="5">
                @Html.ActionLink("Modifica", "Edit", new { id = item.UserId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Altri Dettagli", "Details", new { id = item.UserId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Elimina", "Delete", new { id = item.UserId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
</table>
@if (Model.PageCount > 1)
{
    <h6>@Html.Raw(string.Format("Pagina: {0}, di: {1}", (Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), Model.PageCount))</h6>;
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }));
}﻿