@model Ecommerce01.Models.ProductAttributeStock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductAttributeStock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductAttribute.ProductAttributeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductAttribute.ProductAttributeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductAttributeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductAttributeValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverriddenPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverriddenPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkuEAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkuEAN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductAttributeStockId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
