@model Ecommerce01.Models.Warehouse

@{
    ViewBag.Title = "Dettagli";
}

<h2>Dettagli</h2>

<div>
    <h4>Warehouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departament.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departament.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Ritorna", "Index", new { }, new { @class = "btn-outline-primary" })
    @Html.ActionLink("Modifica", "Edit", new { id = Model.WarehouseId }, new { @class = "btn btn-info" })
</div>