@model Ecommerce01.Models.ProductStockByAttrib

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductStockByAttrib</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttributeOpt.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributeOpt.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductAttributeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductAttributeValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverriddenPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverriddenPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkuEAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkuEAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDisponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDisponible)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
