@model PagedList.IPagedList<Ecommerce01.Models.Departament>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Regione";
}

<h2>Regioni</h2>

<p>
    @Html.ActionLink("Crea", "Create", new { }, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Longitud)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitud)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id=item.DepartamentId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Dettagli", "Details", new { id=item.DepartamentId },new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Elimina", "Delete", new { id=item.DepartamentId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
@if (Model.PageCount > 1)
{
    <h6>@Html.Raw(string.Format("Pagina: {0}, di: {1}", (Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), Model.PageCount))</h6>;
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }));
}﻿