@model Ecommerce01.Models.Product

@{
    ViewBag.Title = "Elimina";
}

<h2>Elimina</h2>

<h3>E' sicuro di volere eliminare questo Registro ?</h3>
<div>
    <h4>Prodotto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarCode)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tax.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax.Description)
        </dd>
        <hr />
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.VendorPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorProductCode)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ReorderPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderPoint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>

   @using (Html.BeginForm())
   {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Ritorna", "Index", new { }, new { @class = "btn-outline-primary" })
        <input type="submit" value="Elimina" class="btn btn-danger" />
    </div>
   }
</div>
