@using PrenditiDaBere.Data.Models
@model Bibita
<div class="container marginTop">
    <div class="row">
        <div class="card">
            <div class="text-center view overlay hm-white-slight">
                <img src="~/images/@Model.MiniaturaImmagine" alt="Bibita" class="mg-fluid" />
                @*<img src="@Model.UrlImmagine" class="img-fluid" alt="">*@
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">@Model.Nome</h4>
                <!--Text-->
                <p class="card-text">@Model.LungaDescrizione.</p>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button id="btnSearch" class="btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="btnSearch_Click">button</button>
                        <button id="btnClear" class="btn btn-danger btn-md center-block" Style="width: 100px;" OnClick="btnClear_Click">button</button>
                    </div>
                </div>
                <div class="btn btn-group pull-right">
                    <a asp-controller="Bibita" 
                       asp-action="List" 
                       class="btn btn-default">Mostra tutte le Bibite</a>
                    <a class="btn btn-success" 
                       <br/
                       id="cartButton" asp-controller="ShoppingCart" 
                       asp-action="AddToShoppingCart" 
                       asp-route-bibitaId="@Model.BibitaId">
                        Aggiunge @Model.Nome al Carrello
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h1>Grid</h1>
    <p>This example demonstrates a 50%/50% split on small, medium and large devices. On extra small devices, it will stack (100% width).</p>
    <p>Resize the browser window to see the effect.</p>
    <div class="row">
        <div class="col-sm-6" style="background-color:yellow;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="col-sm-6" style="background-color:pink;">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        </div>
    </div>
</div>