@using PrenditiDaBere.Data.Models
@model Bibita
<div class="container-fluid marginTop">
    <div class="row">
        <div class="col-sm-6">
            <div class="ttr">
                <img src="~/images/@Model.MiniaturaImmagine" alt="Bibita" class="img-top img-responsive" />
                <div class="card-body">
                    <a href="#">
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                    <h3 class="pull-right card-text">@Model.Prezzo.ToString("c")</h3>
                </div>
                </div>
           </div>
      
        @* <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div> *@

        <div class="col-sm-6">
            @*<div class="grid__item medium--one-half large--five-twelfths">*@
            <div class="card">
                <div class="card-block">

                    <!--Title-->
                    <h1 class="card-title">@Model.Nome</h1>
                    @*<h1 itemprop="name">OPTIMIZE YOUR SLEEP</h1>*@

                    @*<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="USD">*@

                    @*<link itemprop="availability" href="http://schema.org/InStock">*@

                    <!--Text-->
                    <p class="card-text">@Model.LungaDescrizione.</p>
                    <p>OFF is the first NSF</p>
                    <P>Power OFF is the first NSF Certified for Sport sleep supplement that helps athletes calm down after extended training and games, and ensure a good night’s sleep for maximum performance.</p>
                    <p>sleep supplement that helps.</p>
                    <hr align="left" size="1" width="300" color="red" noshade>
                    <div class="ricorrente_titolo">Abbonati e Risparmia</div>
                    <div class="one_time_div bold_active">
                        <label class="one_time_radio_lbl">
                            <input type="radio" value="0" name="recurring_radio_btn"
                                   class="one_time_radio_btn" checked="checked">
                            <span>Acquista per @Model.Prezzo</span>
                        </label>
                    </div>
                    <div class="recurring_div bold-ro">
                        <label style="display:inline-block" class="recurring_radio_lbl">
                            <input type="radio" value="2" name="recurring_radio_btn" class="mixed_radio_btn">
                            @{var prezzoScontato = (double)@Model.Prezzo * 0.90;}
                            Abbonati &amp; Risparmia 10% (<span class="new_discounted_price">@prezzoScontato</span>)
                        </label>
                        <div class="frequency_div">
                            <div class="frequency_label">
                                Ordine con frequenza:<span style="padding-left:10px">1</span>
                                <input type="hidden" class="frequency_num" value="1"><span style="padding-left:10px">al mese</span>
                                <input type="hidden" class="frequency_type" value="3">
                            </div>
                            <div class="prepaid_div" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div></div>
            @*<span class="product-single__sample hide">Order a sample!</span>*@
            <hr align="left" size="1" width="300" color="red" noshade>
            
            <div>        </div>
                        <div class="product-single__quantity">
                            <div class="js-qty">
                                <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="" data-qty="0">
                                    <svg width="18px" height="6px" viewBox="0 0 18 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(-848.000000, -739.000000)" fill-rule="nonzero" fill="#444444">
                                                <g transform="translate(829.449097, 715.998169)">
                                                    <path d="M31.7003937,23.1047516 L19.7003937,23.1047516 C19.1481089,23.1047516 18.7003937,23.5524668 18.7003937,24.1047516 C18.7003937,24.6570363 19.1481089,25.1047516 19.7003937,25.1047516 L31.7003937,25.1047516 C32.2526784,25.1047516 32.7003937,24.6570363 32.7003937,24.1047516 C32.7003937,23.5524668 32.2526784,23.1047516 31.7003937,23.1047516 Z" id="Shape"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </button>
                                <input type="text" class="js-qty__num" value="1" min="1" data-id="" aria-label="quantity" pattern="[0-9]*" name="quantity" id="Quantity">
                                <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="" data-qty="11">
                                    <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(-1068.000000, -734.000000)" fill-rule="nonzero" fill="#444444">
                                                <g transform="translate(829.449097, 715.998169)">
                                                    <g transform="translate(239.000000, 18.000000)">
                                                        <path d="M8,6 L8,1 C8,0.44771525 7.55228475,0 7,0 C6.44771525,0 6,0.44771525 6,1 L6,6 L1,6 C0.44771525,6 0,6.44771525 0,7 C0,7.55228475 0.44771525,8 1,8 L6,8 L6,13 C6,13.5522847 6.44771525,14 7,14 C7.55228475,14 8,13.5522847 8,13 L8,8 L13,8 C13.5522847,8 14,7.55228475 14,7 C14,6.44771525 13.5522847,6 13,6 L8,6 Z" id="Combined-Shape"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </button>
                            </div>


                        </div>
                        <div class="btn-toolbar">
                            <a class=" btn btn-success btn-md" style="margin-top:15px;"
                               id="cartButton" asp-controller="ShoppingCart"
                               asp-action="AddToShoppingCart"
                               asp-route-bibitaId="@Model.BibitaId">
                                Aggiunge -*@Model.Nome, @Model.Prezzo* al Carrello
                            </a>

                            <a asp-controller="Bibita"
                               asp-action="List"
                               class="btn btn-default btn-md" style="margin-top:15px;">
                                Mostra tutte le Bibite
                            </a>

                        </div>

                    </div>

                </div>
            </div>
        
